@font-face {
  font-family: "Superlumina";
  src: url('./fonts/superlumina/SuperluminaVariable-Regular.woff2') format("woff2 support variations"),
       url('./fonts/superlumina/SuperluminaVariable-Regular.woff2') format("woff2-variations"),
       url('./fonts/superlumina/SuperluminaVariable-Regular.woff2') format("woff2") tech("variations");
}

html {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  
}

:root {
  --font-density: 0;
  --font-speed: 0;
  --color-yellow: #FBCA16;
  --color-blue: #161543;
  --color-red: #FA4C57;
  --color-yellow-light: #FFF8DC;
}

body {
  background: var(--color-yellow);
  color: var(--color-blue);
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

h1 {
  margin: 0px;
  padding: 0px;
}

svg {
  fill: currentColor;
  /* border: 1px solid blue; */
}

.color-red {
  color: var(--color-red);
}

.color-yellow {
  color: var(--color-yellow);
}

.color-blue {
  color: var(--color-blue);
}

.color-red {
  color: var(--color-red);
}

.size-sm {
  font-size: 1rem;
}

.size-md {
  font-size: 1.15rem;
}

.size-lg {
  font-size: 1.75rem;
  line-height: 1.5;
}

a {
  color: var(--color-red);
}


.mobile {
  display: none;
}

.desktop {
  display: block;
}


.blocks {
  display: grid;
  width: calc(100% - 40px);
  height: calc( 100% - 40px );
  grid-template-rows: 10vw 1fr 1fr;
  grid-template-columns: 1fr 5vw 1fr 1fr;
  grid-template-areas: 
    "title title title title"
    "experimental about worlds roads"
    "experimental about email email";

  font-family: "Superlumina";
  font-variation-settings: 'DNST' var(--font-density), "SPED" var(--font-speed);
  line-height: 1;
  gap: 1vw;
  margin: 20px;
}

.blocks {
  font-feature-settings: "salt" 4;
}


[class^="block-"] {
  white-space: nowrap;
}

.block-futurefull {
  grid-area: title;
}



.block-is-telling-experimental-stories {
  grid-area: experimental;
  display: grid;
  grid-template-rows: 4vh 1fr 1fr;
  gap: 1vw;
}

.block-about-the {
  grid-area: about;
}

.block-worlds-we-want {
  grid-area: worlds;
}

.block-and-the-roads-to-get-there {
  grid-area: roads;
}

p,
h1,
h2 {
  margin: 0px;
}

.block-email {
  font-family: "Montserrat";
  grid-area: email;
  display: flex;
  flex-direction: column;
  justify-content: end;

  p {
    white-space: normal;
  }

  & > * + *  {
    margin-top: 1rem;
  }

    *+h2 {
      margin-top: 2rem;
    }
}





input, button {
  display: block;
  width: 100%;
}


.block-worlds-we-want, .block-and-the-roads-to-get-there {
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.block-worlds-we {
  display: grid;
  grid-template-columns: 4fr 1fr;
}


@media screen and (max-width: 1000px) {
  .blocks {
  grid-template-rows: 10vw 1fr 1fr 1fr;
  grid-template-columns: 1fr 5vw 1fr;
  
    grid-template-areas:
      "title title title"
      "experimental about worlds"
      "experimental about roads"
      "experimental about email";

    /* border: 1px solid green; */
  }

        .size-lg {
          font-size: 1.25rem;
        }
}





@media screen and (max-width: 700px) {
  .blocks {
    grid-template-columns: 10vh 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 5vw 1fr;

    grid-template-areas:
      "title experimental experimental"
      "title experimental experimental"
      "title experimental experimental"
      "title about about"
      "title worlds roads";

    min-height: 60vh;
  }

  .mobile {
    display: block;
  }

  .desktop {
    display: none;
  }

  .size-lg {
    font-size: 1.25rem;
  }
}

.holder {
  display: flex;
  justify-content: center;
  align-items: center;
}

[class^="block-"] svg {
  width: 100%;
  height: 100%;
}
